## DEBUG_INFO
CONFIG_DEBUG_INFO=y
# CONFIG_DEBUG_INFO_NONE is not set
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y
CONFIG_DEBUG_INFO_REDUCED=y
CONFIG_DEBUG_INFO_COMPRESSED_NONE=y
# CONFIG_DEBUG_INFO_COMPRESSED_ZLIB is not set
CONFIG_PAHOLE_HAS_SPLIT_BTF=y
CONFIG_PAHOLE_HAS_LANG_EXCLUDE=y
# CONFIG_GDB_SCRIPTS is not set
## kprobe
CONFIG_KPROBES=y
CONFIG_KRETPROBES=y
## ebpf
CONFIG_BPF_JIT=y
CONFIG_IKHEADERS=y
CONFIG_KALLSYMS_ALL=y
CONFIG_DEBUG_INFO_BTF=y
CONFIG_MODULE_ALLOW_BTF_MISMATCH=y
CONFIG_RUNTIME_TESTING_MENU=y
CONFIG_TEST_BPF=m
## ftrace
CONFIG_FTRACE=y
CONFIG_TASKS_RUDE_RCU=y
CONFIG_TRACER_MAX_TRACE=y
CONFIG_GENERIC_TRACER=y
CONFIG_FUNCTION_TRACER=y
CONFIG_FUNCTION_GRAPH_TRACER=y
CONFIG_DYNAMIC_FTRACE=y
CONFIG_DYNAMIC_FTRACE_WITH_REGS=y
CONFIG_STACK_TRACER=y
CONFIG_SCHED_TRACER=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_TRACER_SNAPSHOT=y
CONFIG_TRACER_SNAPSHOT_PER_CPU_SWAP=y
CONFIG_FTRACE_MCOUNT_RECORD=y
CONFIG_FTRACE_MCOUNT_USE_RECORDMCOUNT=y
CONFIG_FTRACE_SELFTEST=y
## dynamic_debug
CONFIG_DYNAMIC_DEBUG=y
CONFIG_DYNAMIC_DEBUG_CORE=y
## ISA feature
CONFIG_TEST_BITOPS=m
CONFIG_CRYPTO_TEST=m
CONFIG_CRYPTO_MANAGER_DISABLE_TESTS=n
CONFIG_CRYPTO_MANAGER_EXTRA_TESTS=n
## benchmark
CONFIG_TEST_DHRY=y
CONFIG_KUNIT=y
CONFIG_RBTREE_TEST=m
CONFIG_INTERVAL_TREE_TEST=m
CONFIG_TEST_MAPLE_TREE=m
CONFIG_LIST_KUNIT_TEST=m
CONFIG_HASH_KUNIT_TEST=m
CONFIG_HASHTABLE_KUNIT_TEST=m
CONFIG_TEST_RHASHTABLE=m
CONFIG_ATOMIC64_SELFTEST=m
CONFIG_WW_MUTEX_SELFTEST=m
CONFIG_LOCK_TORTURE_TEST=m
CONFIG_RCU_SCALE_TEST=m
# kselftest
CONFIG_SCHED_DEBUG=y
CONFIG_ZSWAP_DEFAULT_ON=y
CONFIG_SYSVIPC=y
CONFIG_USERFAULTFD=y
CONFIG_TEST_VMALLOC=m
CONFIG_DEVICE_PRIVATE=y
CONFIG_TEST_HMM=m
CONFIG_GUP_TEST=y
CONFIG_MEM_SOFT_DIRTY=y
## sched
CONFIG_SCHEDSTATS=y
CONFIG_SCHED_DEBUG=y
## kdump
CONFIG_KEXEC=y
CONFIG_CRASH_DUMP=y
CONFIG_MAGIC_SYSRQ=y
